.dz__contactform {
    position: relative;
    width: 380px;
    height: 500px;
    background: #1c1c1c;
    border-radius: 9px;
    overflow: hidden;
}

.dz__contactform::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: var(--gradient-bar);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.dz__contactform::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 500px;
    background: var(--gradient-bar);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.dz__form {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 2px;
    padding: 10px 40px;
    z-index: 10;
    border-radius: 8px;
    justify-content: center;

    background: var(--color-footer);
    
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dz__form h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.dz__contact_login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dz__contact_login input {
    flex: 2;
    width: 100%;
    min-height: 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    margin: 1rem 0 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dz__contact_login h1 {
    margin-bottom: 3rem;
    line-break:anywhere;
    font-size: 24px;
}

.dz__contact_login textarea {
    width: 100%;
    height: 120px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 1rem 1rem;
    outline: none;
    color: #fff;
    margin: 1rem 0 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dz__sendButton {
    width: 100%;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #ff4d71;
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin: 1rem 0;
    border-radius: 5px;
}

.dz__sendButton:disabled, .dz__sendButton:disabled:hover, .dz__sendButton:disabled:active {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
}

.links {
    display: flex;
    justify-content: space-between;
}

.dz__contact_login p {
    margin: 0 1rem;
    font-size: 0.75em;
    color: #FF4820;
}

@media screen and (max-width: 990px) {
    .dz__contactform {
        margin-top: 3rem;
    }
}