.dz__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dz__contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    width: 100%;
    
}

@media screen and (max-width: 990px) {
    .dz__contactInfo {
        flex-direction: column;
    }
}