.dz__login_form {
    width: 400px;
    flex: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.dz__login_form input {

    width: 200px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    margin-right: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dz__login_form input:focus {
    /* transform: scaleX(120%); */
    
}

.dz__login_form button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background: var(--color-button);
    border: 2px solid #FF4820;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dz__login_form button:active button:hover {
    border: 2px solid #20ffec;
}

.dz__login_form button:disabled, button:disabled:hover button:disabled:active {
    background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}