:root {
  --font-family: "Montserrat", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #22edfb 1.84%, #ff4d71 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ff4d71 15.86%, #22edfb 99.55%);
  --gradient-exp: linear-gradient(180deg, rgba(4, 44, 84, 1)  15.86%, rgba(27, 120, 222, 1) 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-button: #ff4d71;
}
