.dz__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.dz__footer-container__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.dz__footer-container__footer p {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.dz__footer-heading {
    width: 100%;
    text-align:left;

    margin-bottom: 3rem;
}

.dz__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 36px;
    line-height: 75px;
}

.dz__footer-links {

    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

}

.dz__footer-links div {
    width: 250px;
    margin: 1rem;
}

.dz__footer-links_homeLink {
    display: flex;
    flex-direction: column;
}

.dz__footer-links_homeLink img {
    width: 35px;
    height: 35px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease;
}

.dz__footer-links_homeLink img:hover {
    transform: translateY(-10%);
}

.dz__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.dz__footer-links_div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 2rem;
}

.dz__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.dz__footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.dz__footer-links_div img {
    width: 50px;
    height: 50px;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.dz__footer-links_div img:hover {
    transform: translateY(-20%);
}

.dz__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.dz__footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}



@media screen and (max-width: 850px) {
    .dz__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .dz__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .dz__footer-links div {
        margin: 1rem 0;
    }

    .dz__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .dz__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}